* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;
}

body {
	background-color: #f5f5f5;
	padding: 1.5rem;
}
.ha{
    width:50px;
    height:20px;
    background-color: rgb(188, 182, 194);
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(118, 96, 138);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit:hover{
    background-color: rgb(188, 182, 194);
    color: rgb(118, 96, 138);
}